@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 0, 122, 255;
  }
  html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
  }
}

.feature-grid div {
  @apply hover:shadow-xl hover:border-accent shadow-none transition-all hover:scale-[1.025];
}

.navbar-item {
  @apply px-3 py-2 hover:bg-gray-100 cursor-pointer rounded-lg font-medium text-gray-700;
}

.mobile-navbar-item {
  @apply border-transparent text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700 block cursor-pointer border-l-4 py-2 pl-3 pr-4 font-medium;
}